{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>肺癌相关信息</title>
    <link rel="stylesheet" href="{% static 'css/tumor_info.css' %}"/>
    <script src="{% static 'js/echarts.min.js' %}" type="text/javascript" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'js/Dataset_graph.js' %}"></script>
    <style>
      body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; /* Ensure proper positioning of absolute elements */
    background: url("{% static 'img/bk2.jpg' %}") no-repeat center center fixed;
    background-size: cover;
}
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ensure canvas doesn't block mouse events */
    z-index: 1; /* Particle effect layer */
}
.all {
    position: relative; /* Ensure z-index works properly */
    z-index: 2; /* Layer above particle effect */
}

.footer {
    position: relative; /* Ensure z-index works properly */
    z-index: 3; /* Layer above other content */
    /* Add other styles for the footer if needed */
}
    </style>
</head>
<body>
    <div class="dh">
        <!-- 头部 -->
        <header id="head" class="clearfix">
            <div class="wdht clearfix">
                <div class="header w">
                    <ul class="nav">
                        <li>
                            <a href="/index/">主页</a>
                        </li>
                        <li>
                            <a href="/tumor_info/">基本信息</a>
                        </li>
                        <li>
                            <a href="/log_out/">退出</a>
                        </li>
                    </ul>
                    <div class="logo">
                        <a href="/index/" title="Brain Tumor Classification Website">
                            <span style="font-size: 40px; color: #FFFFFF;">基于深度学习的肺癌分类技术</span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </div>
<div class="all">
    <div id="cpgn" class="clearfix">
        <!--左边-->
        <div class="mainbox">
            <ul class="clearfix">
                <li>
                    <div class="boxall" style="width: 700px; height: 630px; margin-left: 15px;">
                        <div class="sycm">
                            <ul class="clearfix">
                                <!--echarts图表-->
                                <div class="map" style="margin-bottom: .8rem; height: 80%;width:300px;margin-top: 50px;margin-left: 18px">
                                    <li>
                                        <div style="margin-left: 260px;margin-top: -40px">
                                            <h2>肺癌数据集情况</h2>
                                        </div>
                                    </li>
                                    <div id="main" style="width: 700px;height: 600px"></div>
                                    <script type="text/javascript" src="{% static 'js/Dataset_graph.js' %}"></script>
                                </div>
                            </ul>
                        </div>
                        <div class="boxfoot"></div>
                    </div>
                </li>
            </ul>
        </div>
        <!--右边-->
        <div class="tpq clearfix" id="page-right">
            <div class="tumor_info" style="position: absolute;top: -620px;left: 430px;width: 720px;height: 250px;">
                <img class="img_l" src="{% static 'img/luad.jpeg' %}" height="128" width="128">
                <p class="tit_l"><b>肺腺癌(luad)</b></p><br> <br> <br> <br>
                    <p class="cont_l">这是最常见的肺癌类型之一。肺腺癌通常起源于肺部的腺细胞，可以在肺的任何部位发现。它通常与吸烟无关，更常见于女性和非吸烟者。
                    它产生在神经上皮</p>
            </div>

             <div class="tumor_info" style="position: absolute;top: -370px;left: 240px;width: 795px;height: 300px;">
                <img class="img_r" src="{% static 'img/lusc.jpeg' %}" height="128" width="128">
                <p class="tit_r_1"><b>肺鳞状细胞癌(lusc)</b></p><br> <br> <br> <br><br> <br> <br> <br>
                    <p class="cont_r_1">这是另一种常见的肺癌类型。肺鳞状细胞癌起源于肺部的鳞状细胞，通常与吸烟有关。</p>
            </div>

        </div>
    </div>
</div>
    <!-- 底部 -->
    <div class="footer">
        <div class="w">
            <p class="copy">Copyright 2023. Studio SYS. All Rights Reserved.</p>
            <p>SYS ancient poetry generator developed by SYS.</p>
            <p>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Products</a>
                <a href="#">Services</a>
                <a href="#">Contact</a>
            </p>
        </div>
    </div>

    <!-- 画布 -->
    <canvas id="canvas"></canvas>
    <!-- 主页动画js -->
    <script >  // 获取canvas对象
    var canvas = document.getElementById("canvas");
    // 获取画笔
    var ctx = canvas.getContext("2d");

    // 设置canvas宽高
    canvas.height = window.innerHeight;
    canvas.width = window.innerWidth;

    // 定义一个粒子数组
    var particlesArray = [];
    // 定义页面内粒子的数量
    var count = parseInt(canvas.width / 80 * canvas.height / 80);

    // 定义粒子类
    class Particle {
        constructor(x, y) {
            this.x = x;
            this.y = y;
            // x，y轴的移动速度  -0.5 -- 0.5
            this.directionX = Math.random() - 0.5;
            this.directionY = Math.random() - 0.5;
        }

        // 更新点的坐标
        update() {
            this.x += this.directionX;
            this.y += this.directionY;
        }

        // 绘制粒子
        draw() {
            ctx.beginPath();
            ctx.arc(this.x, this.y, 2, 0, Math.PI * 2);
            ctx.closePath();
            ctx.fillStyle = "white";
            ctx.fill();
        }
    }

    // 创建粒子
    function createParticle() {
        // 生成一个点的随机坐标
        var x = Math.random() * window.innerWidth;
        var y = Math.random() * window.innerHeight;

        particlesArray.push(new Particle(x, y));
    }

    // 处理粒子
    // 先更新坐标，再绘制出来
    function handleParticle() {
        for (var i = 0; i < particlesArray.length; i++) {
            var particle = particlesArray[i];
            particle.update();
            particle.draw();
            // 超出范围就将这个粒子删除
            if (particle.x < 0 || particle.x > canvas.width || particle.y < 0 || particle.y > canvas.height) {
                particlesArray.splice(i, 1);
            }

            // 绘制两个点之间的连线
            for (var j = i + 1; j < particlesArray.length; j++) {
                var dx = particlesArray[j].x - particlesArray[i].x;
                var dy = particlesArray[j].y - particlesArray[i].y;
                var dist = Math.sqrt(Math.pow(dx, 2) + Math.pow(dy, 2));
                if (dist < 100) {
                    ctx.beginPath();
                    ctx.strokeStyle = "rgba(255, 255, 255, " + (1 - dist / 100) + ")";
                    ctx.moveTo(particlesArray[i].x, particlesArray[i].y);
                    ctx.lineTo(particlesArray[j].x, particlesArray[j].y);
                    ctx.closePath();
                    ctx.lineWidth = 1;
                    ctx.stroke();
                }
            }
        }
    }

    function draw() {
        // 首先清空画布
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        // 如果粒子数量小于规定数量，就生成新的粒子
        if (particlesArray.length < count) {
            createParticle();
        }

        // 处理粒子
        handleParticle();
    }

    // 设置定时器
    setInterval(draw, 10);

    // 窗口调整时，重新设置canvas的宽高
    window.addEventListener('resize', function () {
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
    });
</script>

<!-- 主页动画js -->
<script src="{% static 'js/index.js' %}"></script>

<!-- 动态折线图js -->
<script type="text/javascript" src="{% static 'js/graphy1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/graphy2.js' %}"></script>
<!-- 轮播图js -->
<script type="text/javascript" src="{% static 'js/graphStyle1.js' %}"></script>
<!-- 页面内跳转 -->
<script language="javascript" type="text/javascript">
    $(function () {
        $(".picbreed").click(function () {
            $("#cpgn")[0].scrollIntoView(true);
        });
    });</script>

</body>
</html>
