

/* 整个图片区域格 */
.contentCir {
	width: 100%;
	height: 540px;
}

.bgc{
	background-color: #ffffff;
}

/* 图片 */
.picCir {
	position: absolute;
	margin: 0 10% 0 10%;

	width: 80%;
	height: 540px;
	transition: opacity 0.7s linear;
}

/* 图片尺寸 */
.imgCir {
	width: 100%;
	height: 540px;
}
/* 所有圆 */
.circleCir {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 500px; /* 调整为相对于轮播图底部 */
    font-size: 0;
    line-height: 5px;
    z-index: 999;
}

/* 每个小圆 */
.circleCir > div {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid 1px #ffffff;
    margin: 0 2px;
    border-radius: 50%;
}

/* 鼠标触碰小圆 */
.circleCir > div:hover {
    background-color: #ffffff;
}

/* 按钮 */
.btnCir {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
   top: 50px; /* 调整为相对于轮播图底部 */
    width: 78%;
    height: auto; /* 移除固定高度 */
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* 调整按钮与边缘的距离 */
}

.btnCir > div {
    display: none;
    width: 40px;
    height: 40px;
    font-size: 50px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.contentCir:hover .btnCir > div {
    display: block;
}

.btnCir > div:nth-child(1) {
    /* left arrow */
}

.btnCir > div:nth-child(2) {
    /* right arrow */
}


.boxallCir {
	border: 1px solid rgba(25, 186, 139, .17);
	padding: 0 .3rem .3rem .3rem;
	background-size: 100% auto;
	position: relative;
	margin-bottom: .3rem;
	z-index: 10;
}

.boxallCir #sbmassage p {
	height: 100px;
	text-align: center;
	font-size: .3rem;
	color: #c5ccff;
	border: #ffffff;
	style: block;
}

.boxallCir .butn input {
	margin-top: 5px;
	margin-left: 5px;
	background: #0066CC;
	color: white;
}

.boxallCir .butn #an2 {
	float: right;
}

.boxallCir:before,
.boxallCir:after {
	position: absolute;
	width: .3rem;
	height: .3rem;
	content: "";
	border-top: 2px solid #02a6b5;
	top: 0;
}

.boxallCir:before,
.boxfoot:before {
	border-left: 2px solid #02a6b5;
	left: 0;
}

.boxallCir:after,
.boxfoot:after {
	border-right: 2px solid #02a6b5;
	right: 0;
}

/* 轮播图删除小角 */
.boxall1Cir {
	border: 1px solid rgba(25, 186, 139, .17);
	padding: 0 .3rem .3rem .3rem;
	background-size: 100% auto;
	position: relative;
	margin-bottom: .3rem;
	z-index: 10;
}